body {
  width: 768px;
  margin: 2em auto 1em auto;
  font-family: 'Lato', sans-serif;
  position: relative;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin: .1em 0 .1em 0;
}

a {
  color: #CC9966;
}

a:not(:hover) {
  text-decoration: none;
}

svg {
  font: 10px sans-serif;
}

.source {
  margin: 0;
}